{"openapi":"3.0.1","info":{"title":"ORCA APP API","description":"The ORCA application service API.","contact":{"name":"Fischer Information Technology AG","url":"https://www.fischer-information.com/","email":"info@fischer-information.com"},"version":"1.0.0"},"servers":[{"url":"https://int.bmw.organizingcompanyassets.com/api/orca","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Administration Controller","description":"Endpoints for administration area in orca"}],"paths":{"/tasks/users/{userKey}/complete":{"put":{"tags":["Notifications"],"summary":"Complete all notifications of user.","description":"Completes all notifications which are in state new or in_progress of user.","operationId":"completeAllNotificationsOfUser","parameters":[{"name":"userKey","in":"path","description":"Use User key","required":true,"schema":{"pattern":"\\w+","type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"204":{"description":"Updated"},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/external-process/{processKey}":{"get":{"tags":["ExternalProcess"],"summary":"Get an external process","description":"Get an external process using the provided processKey.","operationId":"getExternalProcess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalProcess"}}}},"404":{"description":"External Process {pid} not found."},"403":{"description":"User {userId} does not have enough rights to see the external process {pid}."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]},"put":{"tags":["ExternalProcess"],"summary":"Replace an external process (or create one, if it does not exist already)","description":"Replace an external process (or create one, if it does not exist already. Using the provided processKey.)","operationId":"replaceExternalProcess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalProcess"}}},"required":true},"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalProcess"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User {userId} does not have enough rights to replace the external process {pid}."}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["ExternalProcess"],"summary":"Delete an external process","description":"Delete an external process using the provided processKey.","operationId":"deleteExternalProcess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"403":{"description":"User {userId} does not have enough rights to delete the external process {pid}."},"204":{"description":"Deleted"},"404":{"description":"External Process {pid} not found."},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["ExternalProcess"],"summary":"Update an external process","description":"Update an external process using the provided processKey.","operationId":"updateExternalProcess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalProcess"}}},"required":true},"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalProcess"}}}},"404":{"description":"External Process {pid} not found."},"500":{"description":"Request could not be executed"},"403":{"description":"User {userKey} does not have enough rights to update the external process {processKey}."},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/assets/{assetKey}/tracker/{trackerKey}":{"put":{"tags":["Asset"],"summary":"Add infotext to asset.","description":"Add or change infotext of an asset using the provided assetKey and trackerKey.","operationId":"allocateTracker","parameters":[{"name":"assetKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"trackerKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to search for assets"}}},"delete":{"tags":["Asset"],"summary":"Delete infotext of an asset.","description":"Delete infotext of an asset using the provided assetKey and trackerKey.","operationId":"deallocateTracker","parameters":[{"name":"assetKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"trackerKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to search for assets"}}}},"/access/companies/{key}/users/{userKey}/groups":{"put":{"tags":["Companies Access"],"summary":"Update groups for user of company","description":"Update groups for user of company by company key and user key","operationId":"updateUserGroups","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserGroupRequest"}}},"required":true},"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"404":{"description":"Company or user not found"}},"security":[{"bearerAuth":[]}]}},"/utils/audit":{"post":{"tags":["Audit Check"],"summary":"Do some preliminary audit checks","description":"Check if relocation between two countries is allowed. Response can be black = forbidden (1), Red = not allowed (2), Green = allowed (3).","operationId":"doAuditChecks","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuditResult"}}}},"403":{"description":"User {userId} does not have enough rights to execute an audit check."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/tracker/data":{"get":{"tags":["Tracker"],"summary":"Get tracker data","description":"Get tracker data.","operationId":"searchTrackerData","parameters":[{"name":"filter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SearchFilter"}},{"name":"skipLimit","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SkipLimit"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Tracker"],"summary":"Create tracker data","description":"Create tracker data.","operationId":"createTrackerData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/tasks":{"get":{"tags":["Notifications"],"summary":"Retrieves all notifications with filter.","description":"Retrieves all notifications from the system and supports filtering by various criteria.","operationId":"queryNotifications","parameters":[{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"E.g. general_userTask_followupProcess_relocation_type","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["NEW","IN_PROGRESS","DONE"]}}},{"name":"author","in":"query","description":"Use User key","required":false,"schema":{"type":"string"}},{"name":"assignee","in":"query","description":"Use User key","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","enum":["TITLE_ASC","TYPE_ASC","STATE_ASC","DUE_DATE_ASC","CREATED_AT_ASC","MODIFIED_AT_ASC","TITLE_DESC","TYPE_DESC","STATE_DESC","DUE_DATE_DESC","CREATED_AT_DESC","MODIFIED_AT_DESC","PRIO_DESC"]}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserNotification"}}}}},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Notifications"],"summary":"Create notification.","description":"Creates a new notification with a new generated id.","operationId":"createNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserNotification"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"201":{"description":"Created"}},"security":[{"bearerAuth":[]}]}},"/tasks/system":{"get":{"tags":["Tasks"],"summary":"Get system tasks","description":"Get system tasks using the provided filters.","operationId":"searchSystemTasks","parameters":[{"name":"owner","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creator","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"supplier","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"commodity","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceSystem","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"targetSystem","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"objectId","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dueDateFrom","in":"query","required":false,"schema":{"type":"string"}},{"name":"dueDateTo","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdDateFrom","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdDateTo","in":"query","required":false,"schema":{"type":"string"}},{"name":"finishedDateFrom","in":"query","required":false,"schema":{"type":"string"}},{"name":"finishedDateTo","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["INIT","NEW","OPEN","ACCEPTED","IN_PROGRESS","PENDING","APPROVED","SUSPENDED","SUCCESSFUL","FAILED","DONE","COMPLETED","CLOSED"]}}},{"name":"action","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATE","UPDATE","UPSERT","DELETE","APPROVAL","GENERAL"]}}},{"name":"type","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["IMPORT_ASSET","INVENTORY_COMPLETION","REQUEST_SEQUENCE","SEQUENCE_COMPLETED","SUPPLIER_CONFIRMATION","CREATE_INVENTORY","CREATE_INVENTORY_V2","CREATE_INVENTORY_V3","SEND_INVENTORY","IMPORT_ASSETACCOUNTING","RELOCATION_COMPLETION","SCRAPPING_COMPLETION"]}}},{"name":"objectType","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["ASSET","INVENTORY"]}}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","enum":["TITLE_ASC","TYPE_ASC","STATE_ASC","DUE_DATE_ASC","CREATED_AT_ASC","MODIFIED_AT_ASC","TITLE_DESC","TYPE_DESC","STATE_DESC","DUE_DATE_DESC","CREATED_AT_DESC","MODIFIED_AT_DESC","PRIO_DESC"]}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemTask"}}}}},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"400":{"description":"There is no Task with that id"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Tasks"],"summary":"Create system task","description":"Create system task","operationId":"createTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemTask"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"The server cannot execute the request"},"400":{"description":"There is no Task with that key"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/tasks/system/{key}/documents":{"post":{"tags":["Tasks"],"summary":"Add file to system task","description":"Add file to system task using the provided key and safe it in the storage.","operationId":"addDocumentToTask","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"content-type","in":"header","schema":{"type":"string","enum":["multipart/*"]}}],"requestBody":{"content":{"multipart/*":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SystemTask"}}}},"500":{"description":"The server cannot execute the request"},"400":{"description":"There is no Task with that key"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/profile/confirm-policies":{"post":{"tags":["Profile"],"summary":"Set Confirm policies","description":"Set the meta data for the user object after policies are confirmed following the first login.","operationId":"confirmPolicies","responses":{"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/process/{processKey}/positions":{"get":{"tags":["Process"],"summary":"Get positions","description":"Get all positions with the given processKey.","operationId":"searchPositions","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":42}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"queryParams","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MultiValueMapStringString"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessPosition"}}}}}}},"post":{"tags":["Process"],"summary":"Post positions","description":"Post positions to the given processKey.","operationId":"createPosition","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ContentNode"},{"$ref":"#/components/schemas/Asset"},{"$ref":"#/components/schemas/AssetAccounting"},{"$ref":"#/components/schemas/Company"},{"$ref":"#/components/schemas/CompanySite"},{"$ref":"#/components/schemas/DataModelLogEntry"},{"$ref":"#/components/schemas/Document"},{"$ref":"#/components/schemas/Inventory"},{"$ref":"#/components/schemas/InventoryPosition"},{"$ref":"#/components/schemas/Process"},{"$ref":"#/components/schemas/ProcessPosition"},{"$ref":"#/components/schemas/Tracker"},{"$ref":"#/components/schemas/User"},{"$ref":"#/components/schemas/VatId"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcessPosition"}}}}}}},"/process/{processKey}/partitions":{"get":{"tags":["Process"],"summary":"Get partitions/subprocesses","description":"Get all partitions/subprocesses for the given processKey.","operationId":"searchSubprocess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":42}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"queryParams","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MultiValueMapStringString"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Process"}}}}}}},"post":{"tags":["Process"],"summary":"Post partitions/subprocesses","description":"Post partitions/subprocesses for the given processKey.","operationId":"createSubprocess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpMeta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Process"}}}}}}},"/process/scrapping/{processKey}/spare-part":{"post":{"tags":["Scrapping"],"summary":"Update spare part information","description":"Updates the spare part information of an scrapping process","operationId":"updateSparePart","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SparePartInfoDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/process/scrapping/assets/operators":{"post":{"tags":["Scrapping"],"summary":"Get operators for given assets","description":"Post Asset Content to get the operators.","operationId":"getOperatorsForAssets","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}}}},"required":true},"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/process/scrapping/assets/filter":{"post":{"tags":["Scrapping"],"summary":"Filter given assets by operator","description":"Post asset content and company key to get filter given assets by operator.","operationId":"filterAssetsByOperator","parameters":[{"name":"operatorKey","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}}}},"required":true},"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/process/relocation/{processId}/positions/batch":{"post":{"tags":["Relocation"],"summary":"Post process position to process","description":"Post given process position content to process.","operationId":"createPosition_1","parameters":[{"name":"processId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/ContentNode"},{"$ref":"#/components/schemas/Asset"},{"$ref":"#/components/schemas/AssetAccounting"},{"$ref":"#/components/schemas/Company"},{"$ref":"#/components/schemas/CompanySite"},{"$ref":"#/components/schemas/DataModelLogEntry"},{"$ref":"#/components/schemas/Document"},{"$ref":"#/components/schemas/Inventory"},{"$ref":"#/components/schemas/InventoryPosition"},{"$ref":"#/components/schemas/Process"},{"$ref":"#/components/schemas/ProcessPosition"},{"$ref":"#/components/schemas/Tracker"},{"$ref":"#/components/schemas/User"},{"$ref":"#/components/schemas/VatId"}]}}}},"required":true},"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessPosition"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/process/full":{"post":{"tags":["Process"],"summary":"Create process with assets","description":"Only use for internal UI to create process with all assets.","operationId":"createFull","parameters":[{"name":"processKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullProcess"}}},"required":true},"responses":{"400":{"description":"Bad request. Error reason will be returned in the message property."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Process"}}}}},"security":[{"bearerAuth":[]}]}},"/process":{"get":{"tags":["Process"],"summary":"Get processes","description":"Get processes by given filters.","operationId":"search","parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":42}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"queryParams","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MultiValueMapStringString"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Process"}}}}}}},"post":{"tags":["Process"],"operationId":"create","parameters":[{"name":"processKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpMeta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Process"}}}}}}},"/process/":{"post":{"tags":["Process"],"operationId":"create_1","parameters":[{"name":"processKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpMeta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Process"}}}}}}},"/migrations/{name}/retry":{"post":{"tags":["Migrations"],"summary":"Retry migration","description":"Retry defined migration.","operationId":"retryMigrationAsync","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/migrations/{name}/execute":{"post":{"tags":["Migrations"],"summary":"Execute migration","description":"Execute defined migration.","operationId":"startMigrationAsync","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/inventory":{"post":{"tags":["Inventory"],"summary":"Create Inventory","description":"Creates an Inventory.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryOrder"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/positions/delete":{"post":{"tags":["Inventory"],"summary":"Remove positions from partition/subprocess of inventory","description":"Remove positions from partition/subprocess of inventory using the provided inventoryKey","operationId":"removePositionsFromPartition","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePartitionRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/partitions":{"get":{"tags":["Inventory"],"summary":"Get partitions/subprocesses","description":"Get partitions/subprocesses by defined filters.","operationId":"search_2","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"The query","required":false,"schema":{"type":"string","default":""}},{"name":"limit","in":"query","description":"Number of results","required":false,"schema":{"type":"integer","format":"int64","default":10}},{"name":"offset","in":"query","description":"Number of results initially skipped","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"city","in":"query","description":"Filter for city","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"country","in":"query","description":"Filter for country","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"deliverable","in":"query","description":"Filter for deliverable","required":false,"schema":{"type":"array","items":{"type":"boolean"}}},{"name":"supplier","in":"query","description":"Filter for supplier","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"Filter for inventory inventoryType","required":false,"schema":{"type":"array","items":{"type":"string","enum":["IA","IB","IC","ID"]}}},{"name":"status","in":"query","description":"Filter for status","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InventoryEntry"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Inventory"],"summary":"Create partition/subprocess for an inventory","description":"Create partition/subprocess for an inventory using the provided inventoryKey.","operationId":"createPartitionOfInventory","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePartitionRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/partitions/{partitionKey}/positions":{"post":{"tags":["Inventory"],"summary":"Add positions to partition/subprocess of inventory","description":"Add positions to partition/subprocess of inventory using the provided inventoryKey and partitionKey","operationId":"addPositionsToPartition","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"partitionKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePartitionRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/actions/send/back":{"post":{"tags":["Inventory"],"summary":"Send inventory order back","description":"Resets the inventory state and creates an task from type 'Inventory correction' for the IVL using the provided inventoryKey.","operationId":"sendInventoryOrderBack","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/actions/report":{"post":{"tags":["Inventory"],"summary":"Report inventory","description":"Update the status of the inventory to I2 and send a warning how many positions are in status P0, P1 und P2.","operationId":"reportInventoryOrder","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/actions/decline":{"post":{"tags":["Inventory"],"summary":"Decline inventory","description":"Decline the inventory and return it using the provided inventoryKey.","operationId":"declineInventoryOrder","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeclineRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/actions/approve":{"post":{"tags":["Inventory"],"summary":"Report inventory","description":"Update the status of the inventory to I2 and send a warning how many positions are in status P0, P1 und P2.","operationId":"approveInventoryOrder","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"202":{"description":"Request has been accepted and will be processed asynchronously."},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/actions/accept":{"post":{"tags":["Inventory"],"summary":"Accept inventory order","description":"Accept the inventory order using the provided inventoryKey.","operationId":"acceptInventoryOrder","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryId}/actions/send":{"post":{"tags":["Inventory"],"summary":"Send inventory order","description":"Update the status of the inventory to I1 only if there is at least one supplier, due date and inventory type.","operationId":"updateInventoryOrder","parameters":[{"name":"inventoryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/batch/approve":{"get":{"tags":["Inventory"],"summary":"Get batch approve information","description":"Get the information how many inventories will be approved using the batch approve","operationId":"getBatchApproveInformation","parameters":[{"name":"user","in":"query","description":"Optional user to approve inventories as (proxy)","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"409":{"description":"Already running for current user"},"403":{"description":"Forbidden"},"200":{"description":"Request was accepted and started approving all inventories asynchronously","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Inventory"],"summary":"Execute batch approve","description":"Approve all inventories assigned to the current user, which are automatic approvable","operationId":"executeBatchApprove","parameters":[{"name":"user","in":"query","description":"Optional user to approve inventories as (proxy)","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"409":{"description":"Already running for current user"},"403":{"description":"Forbidden"},"202":{"description":"Ok","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/inventory/batch/accept":{"get":{"tags":["Inventory"],"summary":"Get batch accept information","description":"Get the information how many inventories will be accepted using the batch accept","operationId":"getBatchAcceptInformation","parameters":[{"name":"user","in":"query","description":"Optional user to accept inventories as (proxy)","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"409":{"description":"Already running for current user"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Inventory"],"summary":"Execute batch accept","description":"Accept all inventories assigned to the current user, which are automatic acceptable","operationId":"executeBatchAccept","parameters":[{"name":"user","in":"query","description":"Optional user to accept inventories as (proxy)","required":false,"schema":{"type":"string"}}],"responses":{"202":{"description":"Request was accepted and started accepting all inventories asynchronously","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"409":{"description":"Already running for current user"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/assign":{"post":{"tags":["Inventory"],"summary":"Assign a user to an inventory order.","description":"Assign a user to an inventory order.","operationId":"assignUserToInventory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignInventoryOrder"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/external-process":{"get":{"tags":["ExternalProcess"],"summary":"Get external processes","description":"Get external processes using the provided filters.","operationId":"searchExternalProcesses","parameters":[{"name":"type","in":"query","description":"Filter by the orca process type","required":false,"schema":{"$ref":"#/components/schemas/OrcaProcessType"}},{"name":"status","in":"query","description":"Filter by the status","required":false,"schema":{"$ref":"#/components/schemas/ExternalProcessStatus"}},{"name":"supplier","in":"query","description":"Filter by supplier (e.g. 133188)","required":false,"schema":{"type":"string"}},{"name":"country","in":"query","description":"Filter by country (e.g. DE)","required":false,"schema":{"type":"string"}},{"name":"externalIdQuery","in":"query","description":"Search for query string in externalId, comment and description of the external process (case insensitive)","required":false,"schema":{"type":"string"}},{"name":"skip","in":"query","description":"Skip the first n results","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Maximum results count","required":false,"schema":{"type":"integer","format":"int32","default":1000}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalProcess"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User {userKey} does not have enough rights to search external processes."}},"security":[{"bearerAuth":[]}]},"post":{"tags":["ExternalProcess"],"summary":"Create an external process","description":"Create an external process.","operationId":"createExternalProcess","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalProcess"}}},"required":true},"responses":{"500":{"description":"Request could not be executed"},"400":{"description":"The request is invalid."},"201":{"description":"Created"},"403":{"description":"User {userId} does not have enough rights to create an external process."},"401":{"description":"Unauthorized"},"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/companies":{"get":{"tags":["Companies"],"summary":"Search request for companies","description":"Search in the following metafields for companies: country, city, street, DUNS, VAT, name, id","operationId":"searchCompanies","parameters":[{"name":"query","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}},"500":{"description":"Request could not be executed"},"403":{"description":"User does not have rights to search for companies"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Companies"],"summary":"Create a one or more companies","description":"Create a one or more companies.","operationId":"createCompany","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Companies"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to create a company"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/vatId":{"post":{"tags":["Companies"],"summary":"Create a new VatId object for OEM company","description":"Create a new VatId object for OEM company using the provided companyKey.","operationId":"createVatIdObject","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VatIdRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VatId"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to create a VatId object"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/suppliers":{"get":{"tags":["Companies"],"summary":"Get suppliers of a company","description":"Get suppliers of a company using the provided companyKey and filters.","operationId":"searchSuppliers","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortByMds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}},"500":{"description":"Request could not be executed"},"403":{"description":"User does not have rights to search for companies"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Companies"],"summary":"Create supplier","description":"Create supplier to a company using the provided companyKey.","operationId":"createSupplier","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCreateRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"201":{"description":"Created","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"User does not have rights to create a company"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/suppliers/{supplierKey}":{"get":{"tags":["Companies"],"summary":"Get a supplier","description":"Get a supplier using the provided supplierKey key linked to the companyKey","operationId":"getSupplier","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"supplierKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObject"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to see the company"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Companies"],"summary":"Create link to supplier company","description":"Create link to an existing company to make it a supplier. Using provided companyKey and supplierKey.","operationId":"linkCompanyToSupplier","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"supplierKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"409":{"description":"Supplier already linked"},"403":{"description":"User does not have rights to create a company"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Companies"],"summary":"Delete a supplier of a company","description":"Delete a supplier of company using the provided companyKey and supplierKey. Cannot delete a company if it is connected to at least one CompanySite or Asset.","operationId":"deleteSupplier","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"supplierKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to delete the company"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/locations":{"get":{"tags":["Company"],"summary":"Get locations","description":"Get locations of a company key using the provided companyKey and filters.","operationId":"filterLocations","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}},{"name":"postCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"city","in":"query","required":false,"schema":{"type":"string"}},{"name":"street","in":"query","required":false,"schema":{"type":"string"}},{"name":"showInactive","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"sortByMds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of results","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"offset","in":"query","description":"Number of results initially skipped","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResponseObject"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Company"],"summary":"Create Location","description":"Creates a location for a company using the provided companyKey.","operationId":"createLocation","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"locationMode","in":"query","required":true,"schema":{"type":"string","enum":["FILL_ADDRESS","FILL_GEOLOCATION","MANUAL_CREATION"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/locations/by-distance":{"post":{"tags":["Company"],"operationId":"companySitesWithDistance","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Distance"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanySite"}}}}}},"security":[{"bearerAuth":[]}]}},"/camunda":{"post":{"tags":["Camunda"],"summary":"Decision table","description":"The file should contain only one decision.The name of the file must match the decision and written in lowercase.Possible decisions are: approvers, declarationCheck, requirementCheck, or taxCheckResult.","operationId":"setDecisionTable","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["decisionTable"],"type":"object","properties":{"decisionTable":{"type":"string","format":"binary"}}}}}},"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"400":{"description":"The request is invalid."},"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/asset/{assetKey}/preparation":{"post":{"tags":["Asset"],"summary":"Prepare asset","description":"Prepare asset using the provided assetKey.","operationId":"updateAsset","parameters":[{"name":"assetKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetPreparation"}}},"required":true},"responses":{"403":{"description":"User {userId} does not have enough rights to prepare the asset {assetId}."},"400":{"description":"The request is invalid."},"404":{"description":"Asset {assetId} not found."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetEntry"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/asset/tooling-grid/fields":{"post":{"tags":["Asset"],"summary":"Get tooling grid fields","description":"Retrieves the filter field values for tooling grid","operationId":"getToolingGridFilterFields","requestBody":{"description":"A map containing the fields request. Currently only the 'collectOnly' key with a list of fields to filter is used","content":{"application/json":{"schema":{"type":"object","example":{"collectOnly":["area","supplier","WVO_Id"]}}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object"}}}}}},"403":{"description":"User {userId} does not have enough rights to see the tooling grid fields."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"404":{"description":"User {userId} not found."}},"security":[{"bearerAuth":[]}]}},"/asset/invplan":{"post":{"tags":["Asset"],"summary":"Starting inventory plan","description":"Starting inventory plan.","operationId":"inventoryPlanning","parameters":[{"name":"forExistingPlanning","in":"query","description":"Flag to determine if inventories should be created for assets with existing planning dates (true) or for assets without existing planning dates and overdue deadline (false)","required":false,"schema":{"type":"boolean"}}],"responses":{"404":{"description":"Asset {assetKey} not found."},"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User {userKey} does not have enough rights to prepare the asset {assetKey}."}},"security":[{"bearerAuth":[]}]}},"/asset-planning/ruleset/executions":{"get":{"tags":["Asset-Planning"],"operationId":"userHasRunningRulesetExecutions","responses":{"200":{"description":"OK"}}},"post":{"tags":["Asset-Planning"],"operationId":"executeRuleset","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/asset-planning/planningUpdates":{"post":{"tags":["Asset-Planning"],"summary":"Prepare assets for planning inventories","description":"Prepare assets for planning inventories. (Set assignee of supplier-side and add more detail-information)","operationId":"planningUpdates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetPlanning"}}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetPlanningResponse"}}}}},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/administration/users/{key}/reset":{"post":{"tags":["Administration Controller"],"summary":"Reset user","description":"Reset an orca user by deleting it's database and keycloak representation. Using the provided key.","operationId":"resetUser","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"User not be found"},"401":{"description":"Unauthorized"},"422":{"description":"User could not be processed"},"400":{"description":"Bad request"}},"security":[{"bearerAuth":[]}]}},"/administration/systemtasks/inventory/{inventoryKey}/retry":{"post":{"tags":["Administration Controller"],"summary":"Sends missing systemtasks","description":"Manually triggers sending of systemtasks which have not been sent on successful approving of inventory","operationId":"sendMissingTasks","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/administration/inventories/missing-tasks/{systemTaskType}/retry":{"post":{"tags":["Administration Controller"],"summary":"Retry creation of systemTasks","description":"Trigger creation of missing systemTasks for inventories","operationId":"retryMissingSystemTasksCreation","parameters":[{"name":"systemTaskType","in":"path","required":true,"schema":{"type":"string","enum":["IMPORT_ASSET","INVENTORY_COMPLETION","REQUEST_SEQUENCE","SEQUENCE_COMPLETED","SUPPLIER_CONFIRMATION","CREATE_INVENTORY","CREATE_INVENTORY_V2","CREATE_INVENTORY_V3","SEND_INVENTORY","IMPORT_ASSETACCOUNTING","RELOCATION_COMPLETION","SCRAPPING_COMPLETION"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/administration/inventories/missing-tasks/{systemTaskType}/retry/stop":{"post":{"tags":["Administration Controller"],"summary":"Stop creation of systemTasks","description":"Manually interrupt creation of missing systemTasks (use in emergencies only)","operationId":"stopMissingSystemTasksCreation","parameters":[{"name":"systemTaskType","in":"path","required":true,"schema":{"type":"string","enum":["IMPORT_ASSET","INVENTORY_COMPLETION","REQUEST_SEQUENCE","SEQUENCE_COMPLETED","SUPPLIER_CONFIRMATION","CREATE_INVENTORY","CREATE_INVENTORY_V2","CREATE_INVENTORY_V3","SEND_INVENTORY","IMPORT_ASSETACCOUNTING","RELOCATION_COMPLETION","SCRAPPING_COMPLETION"]}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/administration/inventories/missing-reports/{inventoryKey}/generate":{"post":{"tags":["Administration Controller"],"summary":"Generate missing inventory result report","description":"Manually triggers the generation of the inventory result report which has not been generated or run into an error on successful approving of inventory","operationId":"generateMissingReport","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/access/companies/{key}/users/{userKey}/reset-password":{"post":{"tags":["Companies Access"],"summary":"Reset user password","description":"Reset user password by company key and user key.","operationId":"resetPasswordOfUser","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"404":{"description":"Company or user not found"}},"security":[{"bearerAuth":[]}]}},"/access/companies/{key}/users/{userKey}/add":{"post":{"tags":["Companies Access"],"summary":"Add an existing user to a company","description":"Add an existing user to a company","operationId":"addExistingUserToCompany","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AB","CL","FEK","ST","WVO","SUP","REV","VV","ITL","IVL","WVL","ID"]}}}},"required":true},"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"404":{"description":"Company or user not found"}},"security":[{"bearerAuth":[]}]}},"/access/companies/{key}/users/{userKey}/activate":{"post":{"tags":["Companies Access"],"summary":"Activate user of company","description":"Activate user of company by company key and user key.","operationId":"activateUser","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"404":{"description":"Company or user not found"}},"security":[{"bearerAuth":[]}]}},"/access/companies/{company}/users":{"post":{"tags":["Companies Access"],"summary":"Create user for company","description":"Create user for company.","operationId":"createUser","parameters":[{"name":"company","in":"path","required":true,"schema":{"type":"string"}},{"name":"group","in":"query","description":"User groups to add","required":false,"schema":{"type":"array","items":{"type":"string"},"default":[""]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"500":{"description":"Request could not be executed","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Company not found","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/tasks/{id}":{"get":{"tags":["Notifications"],"summary":"Get notification by id.","description":"Get notification by id (Notification key).","operationId":"getNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserNotification"}}}},"400":{"description":"There is no notification with that id"},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Notifications"],"summary":"Updates an existing notification with the specified id.","description":"Updating specific fields of an existing notification by id. Use notification _key as id.","operationId":"patchNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserNotification"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"204":{"description":"Updated"},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/tasks/system/{key}":{"get":{"tags":["Tasks"],"summary":"Get system task","description":"Gets a System Task using the provided key. Throws an error if there is no object with that id or the user as no right to see that task.","operationId":"getTask","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SystemTask"}}}},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"400":{"description":"There is no Task with that id"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Tasks"],"summary":"Patch system task","description":"Updates the system task using the provided key.","operationId":"patchTask","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemTaskPatchDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SystemTask"}}}},"500":{"description":"The server cannot execute the request"},"400":{"description":"There is no Task with that key"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/process/{processKey}":{"get":{"tags":["Process"],"summary":"Get process","description":"Get process with the given processKey.","operationId":"get","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Process"}}}}}},"delete":{"tags":["Process"],"summary":"Delete process","description":"Delete process with the given processKey.","operationId":"delete","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"patch":{"tags":["Process"],"summary":"Update a process","description":"Update process with given information.","operationId":"update","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpMeta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/positions/{positionKey}":{"get":{"tags":["Process"],"summary":"Get position for a process","description":"Get position for a process with the given processKey and positionKey.","operationId":"getPosition","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcessPosition"}}}}}},"delete":{"tags":["Process"],"summary":"Delete position for a process","description":"Delete position for a process with the given processKey and positionKey.","operationId":"deletePosition","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"patch":{"tags":["Process"],"summary":"Update position for a process","description":"Update position for a process with the given processKey and positionKey.","operationId":"updatePosition","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpMeta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/positions/{positionKey}/images":{"patch":{"tags":["Process"],"summary":"Add image to process position","description":"Add image to process position by given processKey and positionKey.","operationId":"upsertImages","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"files","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string","format":"binary"}}},{"name":"content-type","in":"header","schema":{"type":"string","enum":["multipart/*"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/positions/{positionKey}/attachments":{"patch":{"tags":["Process"],"summary":"Add attachments to process position","description":"Add attachments to process position by given processKey and positionKey.","operationId":"upsertAttachments","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"result","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"files","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"binary"}}},{"name":"comment","in":"query","required":false,"schema":{"type":"string"}},{"name":"content-type","in":"header","schema":{"type":"string","enum":["multipart/*"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/process/{processKey}/positions/{positionKey}/actions/{action}":{"patch":{"tags":["Process"],"summary":"Trigger action for position","description":"Trigger action for position by given processKey and positionKey.","operationId":"positionAction","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"action","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/positions/{positionKey}/accept":{"patch":{"tags":["Process"],"summary":"Accept a position","description":"Accept a position for the given processKey and positionKey.","operationId":"acceptProcessPosition","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/process/{processKey}/attachments":{"patch":{"tags":["Process"],"summary":"Add an attachment to a process","description":"Add an attachment to a process with the given processKey and file.","operationId":"upsertAttachmentsForProcess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"files","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"binary"}}},{"name":"content-type","in":"header","schema":{"type":"string","enum":["multipart/*"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/process/{processKey}/actions":{"patch":{"tags":["Process"],"summary":"Update all actions","description":"Update all actions for a given processKey.","operationId":"forwardProcessAction","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"action","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/actions/{action}":{"patch":{"tags":["Process"],"summary":"Trigger an action for a process","description":"Trigger an action for a process with the given process key.","operationId":"processAction","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"action","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/relocation/{processId}/assign":{"patch":{"tags":["Relocation"],"summary":"Assign new user to relocation","description":"Assign new user to relocation.","operationId":"assignUser","parameters":[{"name":"processId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RelocationProcess"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/job/createInventoryV3":{"patch":{"tags":["Start backend jobs manually"],"summary":"Start CreateInventoryOrderV3 manually.","description":"Start the execution of creating inventory order in version 3.","operationId":"startManuallyCreateInventoryV3","responses":{"400":{"description":"The request is invalid."},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}":{"get":{"tags":["Inventory"],"summary":"Inventory Details","description":"Gets the detailed information about an Inventory using the provided inventoryKey.","operationId":"getInventory","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InventoryEntry"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"No Inventory found"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Inventory"],"summary":"Delete inventory","description":"Delete inventory using the provided inventoryKey.","operationId":"deleteInventory","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"No Inventory found"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Inventory"],"summary":"Update inventory","description":"Update due date or inventory type of the inventory. Using the provided inventoryKey.","operationId":"updateInventory","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryMetaRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InventoryEntry"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/{revision}":{"patch":{"tags":["Inventory"],"summary":"Updates a position Meta of inventory","description":"Updates the position and add technical information using the provided inventoryKey, positionKey and revision.","operationId":"updateMeta","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryPositionMetaRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/{revision}/report":{"patch":{"tags":["Inventory"],"summary":"Report Position","description":"Report the position and changes the status using provided inventoryKey, positionKey and revision.","operationId":"accept","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/{revision}/reason":{"patch":{"tags":["Inventory"],"summary":"Add Reason to a Position","description":"Adds a reason to the position using the provided inventoryKey, positionKey and revision.","operationId":"addResultReason","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"path","required":true,"schema":{"type":"string"}},{"name":"resultReason","in":"query","required":false,"schema":{"type":"string","enum":["RR0","RR1","RR2","RR3","RR4","RR5","RR6","RR7"]}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/{revision}/comment":{"patch":{"tags":["Inventory"],"summary":"Updates a position Meta and comment of an inventory","description":"Updates a position Meta and comment of an inventory using the provided inventoryKey, positionKey and revision.","operationId":"comment","parameters":[{"name":"files","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"binary"}}},{"name":"comment","in":"query","required":false,"schema":{"type":"string"}},{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"path","required":true,"schema":{"type":"string"}},{"name":"result","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"content-type","in":"header","schema":{"type":"string","enum":["multipart/*"]}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/{revision}/accept":{"patch":{"tags":["Inventory"],"summary":"Accept a postion","description":"Accept a postion using provided inventoryKey, positionKey and revision.","operationId":"positionReport","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/inventory/{inventoryKey}/{positionKey}/location":{"patch":{"tags":["Inventory"],"summary":"Update Location","description":"Updates the location of a position using the provided inventoryKey and positionKey.","operationId":"updateInventoryPosition","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationUpdate"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/images":{"delete":{"tags":["Inventory"],"summary":"Delete Images","description":"Removes the images from a position using the provided inventoryKey and positionKey.","operationId":"removeInventoryImages","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"removeTagView","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"removeFullView","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Inventory"],"summary":"Update Images","description":"Adds the images to position using the provided inventoryKey and positionKey.","operationId":"updateInventoryImages","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"content-type","in":"header","schema":{"type":"string","enum":["multipart/*"]}}],"requestBody":{"content":{"multipart/*":{"schema":{"type":"object","properties":{"tagImage":{"type":"string","format":"binary"},"fullViewImage":{"type":"string","format":"binary"}}}}}},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/documents/delete":{"patch":{"tags":["Inventory"],"summary":"Delete documents from a position.","description":"Delete documents from a position using the provided inventoryKey and positionKey.","operationId":"removeInventoryDocuments","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryKey}/{positionKey}/actions/followup":{"patch":{"tags":["Inventory"],"summary":"Set the next action","description":"sets the next action for the position using the provided inventoryKey and positionKey.","operationId":"finishPosition","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinishPositionBody"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"404":{"description":"Not found"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/inventory/{inventoryId}/{positionId}/actions/decline":{"patch":{"tags":["Inventory"],"summary":"Decline position","description":"Decline the position.","operationId":"declinePosition","parameters":[{"name":"inventoryId","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok"},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}":{"get":{"tags":["Companies"],"summary":"Get a company","description":"Get a company using the provided companyKey.","operationId":"getCompany","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Company"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to see the company"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Companies"],"summary":"Delete a company","description":"Delete a company with using the provided companyKey. Cannot delete a company if it is connected to at least one active CompanySite, Asset, procedure or connected to another company.","operationId":"deleteCompany","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"User does not have rights to delete the company","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"The request is invalid.","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Companies"],"summary":"Update a company","description":"Update a company using the provided companyKey.","operationId":"updateCompany","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObject"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to update the company"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/vatId/{vatIdKey}":{"patch":{"tags":["Companies"],"summary":"Update an existing VatId object for OEM company","description":"Update an existing VatId object for OEM company. Using the provided companyKey and vatIdKey.","operationId":"updateVatIdObject","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"vatIdKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VatIdRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VatId"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"User does not have rights to update a VatId object"}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/locations/{locationKey}":{"get":{"tags":["Company"],"summary":"Get Location","description":"Get a location of a company using the provided companyKey and locationKey.","operationId":"getLocation","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"locationKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObject"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Company"],"summary":"Update a location of a company","description":"update a location of a company key using the provided companyKey and locationKey.","operationId":"patchLocation","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"locationKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"locationMode","in":"query","required":true,"schema":{"type":"string","enum":["FILL_ADDRESS","FILL_GEOLOCATION","MANUAL_CREATION"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObject"}}}}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/locations/{companySiteKey}/deactivate":{"patch":{"tags":["Company"],"summary":"Deactivate company site","description":"Deactivate the company site of a company with the given key.","operationId":"deactivateLocation","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"companySiteKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanySite"}}}}},"security":[{"bearerAuth":[]}]}},"/companies/{companyKey}/locations/{companySiteKey}/activate":{"patch":{"tags":["Company"],"summary":"Activate company site","description":"Activate the company site of a company with the given key.","operationId":"activateCompanySite","parameters":[{"name":"companyKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"companySiteKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanySite"}}}}},"security":[{"bearerAuth":[]}]}},"/asset/{assetKey}/info-text":{"patch":{"tags":["Asset"],"summary":"Add InfoText","description":"Adds or changes the InfoText of an asset using the provided assetKey.","operationId":"addInfoText","parameters":[{"name":"assetKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoTextRequest"}}},"required":true},"responses":{"400":{"description":"The request is invalid."},"404":{"description":"Process {processId} not found."},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetEntry"}}}},"500":{"description":"Request could not be executed"},"403":{"description":"User {userId} does not have enough rights to see the asset {assetId}."},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/access/companies/{key}/users/{userKey}":{"get":{"tags":["Companies Access"],"summary":"Get user of company","description":"Get user of company by company key and user key.","operationId":"getUser","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseObject"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseObject"}}}},"404":{"description":"Company or user not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseObject"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Companies Access"],"summary":"Delete user of company","description":"Delete user of company by company key and user key.","operationId":"deleteUser","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"404":{"description":"Company or user not found"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Companies Access"],"summary":"Update user of company","description":"Update user of company by company key and user key.","operationId":"updateUser","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"500":{"description":"Request could not be executed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"404":{"description":"Company or user not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"bearerAuth":[]}]}},"/access/companies/{key}/users/{userKey}/convert/b2b":{"patch":{"tags":["Companies Access"],"summary":"Convert existing user to B2B User","description":"Convert existing user to B2B User by company key and user key.","operationId":"convertUserToB2B","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Request could not be executed"},"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"404":{"description":"Company or user not found"}},"security":[{"bearerAuth":[]}]}},"/users":{"get":{"tags":["Users"],"summary":"Get all users","description":"Get all users.","operationId":"getListOfAllUsers","parameters":[{"name":"query","in":"query","description":"search for any user containing the search query","required":false,"schema":{"type":"string","default":""}},{"name":"skip","in":"query","description":"skip the first n results","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"maximum count of results","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"403":{"description":"User does not have enough rights to retrieve supplier."},"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/users/{userKey}/rights":{"get":{"tags":["Users"],"summary":"Get global rights of user","description":"Get global rights of user using the provided key. Determined by group membership.","operationId":"getRights","parameters":[{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/users/{userKey}/groups":{"get":{"tags":["Users"],"summary":"Get groups of user","description":"Get groups of user using the provided key.","operationId":"getGroups","parameters":[{"name":"userKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"company","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"400":{"description":"Bad request"}},"security":[{"bearerAuth":[]}]}},"/users/cl":{"get":{"tags":["Users"],"summary":"Get all approvers of the operator","description":"Get all users that are part of the group CL of the operator.","operationId":"getListOfCl","responses":{"403":{"description":"User does not have enough rights to retrieve supplier."},"400":{"description":"The request is invalid."},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/users/by-keycloak-id/{keycloakId}/groups":{"get":{"tags":["Users"],"operationId":"getGroups_1","parameters":[{"name":"keycloakId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/users/by-keycloak-id/{keycloakId}/companies":{"get":{"tags":["Users"],"operationId":"getCompaniesOfUser","parameters":[{"name":"keycloakId","in":"path","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","required":false,"schema":{"type":"string","enum":["OEM","SUPPLIER"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}}}}},"/tasks/system/fields":{"get":{"tags":["Tasks"],"summary":"Get system task filter fields","description":"Get system task filter fields.","operationId":"fields","responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterProperties"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/tasks/fields":{"get":{"tags":["Notifications"],"summary":"Retrieve Filter for notifications.","description":"Retrieve Filter fields for notifications.","operationId":"fieldsUserTask","responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterProperties"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/tasks/analyze":{"get":{"tags":["Notifications"],"summary":"Retrieve number of notifications.","description":"Retrieve number of notifications grouped by status or type and specified filters.","operationId":"analyze","parameters":[{"name":"groupBy","in":"query","description":"Meta name to group by","required":false,"schema":{"type":"string","enum":["status","type"]}},{"name":"status","in":"query","description":"Use when filter by state.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["NEW","IN_PROGRESS","DONE"]}}},{"name":"type","in":"query","description":"Use when filter by type. E.g. general_userTask_followupProcess_change_order_type","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"author","in":"query","description":"Filter for author. Use User key.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"assignee","in":"query","description":"Filter for assignee. Use User key.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"The request is invalid."},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyzeEntry"}}}}},"500":{"description":"The server cannot execute the request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"bearerAuth":[]}]}},"/search/fields":{"get":{"tags":["Generic Filter and Search"],"summary":"Get Filters","description":"Used from UI to retrieve the values of the filter fields.\nHint: For user which see all data the result will be cached for 60 seconds.","operationId":"filterFields","responses":{"400":{"description":"Bad request. Error reason will be returned in the message property."},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"object","example":"creator.key"}}}}},"security":[{"bearerAuth":[]}]}},"/report/{key}":{"get":{"tags":["Reports"],"summary":"Get report","description":"Get report report for the given key.","operationId":"readReport","parameters":[{"name":"format","in":"query","required":false,"schema":{"type":"string","default":"PDF","enum":["PDF","HTML","XML","CSV","XLSX"]}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/report/scrappings/result/{scrappingKey}":{"get":{"tags":["Reports"],"summary":"Get report of an scrapping order","description":"Get report of an scrapping order result by the given key.","operationId":"getScrappingOrderResultReport","parameters":[{"name":"scrappingKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/report/inventories/result/{inventoryKey}":{"get":{"tags":["Reports"],"summary":"Get report of an inventory result","description":"Get report of an inventory result by given key.","operationId":"getInventoryResultReport","parameters":[{"name":"inventoryKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/profile":{"get":{"tags":["Profile"],"summary":"Get profile","description":"Get profile","operationId":"getProfile","responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileResponseObject"}}}},"500":{"description":"Request could not be executed"},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]}},"/process/{processKey}/positions/{positionKey}/reference":{"get":{"tags":["Process"],"summary":"Get a reference of a position","description":"Get a reference of a position with the given processKey and positionKey.","operationId":"getPositionReference","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/positions/{positionKey}/partitions":{"get":{"tags":["Process"],"summary":"Get partitions/subprocesses for a position","description":"Get all partitions/subprocessesfor a position by the given processKey and positionKey.","operationId":"getPartitionsContainingPosition","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"positionKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Process"}}}}}}}},"/process/{processKey}/partitions/{partition}":{"get":{"tags":["Process"],"summary":"Get partition/subprocess","description":"Get all partition/subprocess for the given processKey.","operationId":"getSubprocess","parameters":[{"name":"processKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"partition","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/process/{processKey}/history":{"get":{"tags":["Process"],"summary":"Get history of process
[...]
